/* 
TIPHOGRAPHY SYSTEM
-COLORS

*/

/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

.container {
    max-width: 90%;
    margin: auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.background-icons {
    background-color: rgba(128, 128, 128, 0.8);
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 0.8em;
}
/* 
HEADER 
*/

header {
    background-color: #1a1a1a;
    color: white;
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header * {
    text-align: right;
    line-height: 30px;
}

header div {
    padding-right: 10px;
}

.speaker {
    padding: 0 5px;
}

/* 
MAIN 
*/

main {
    background-color: #1a1a1a;
    height: calc(100% - 90px);
    margin-top: 30px;
    padding: 20px;
}

.window {
    margin: 10px 5px;
    width: calc((100% / 7) - 10px);
    height: 100px;
    position: relative;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-name {
    position: absolute;
    bottom: 3px;
    left: 0;
    color: white;

}

/* 
FOOTER 
*/

footer {
    background-color: #272727;
    height: 60px;
    width: 100%;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.col {
    width: calc(100% / 8);
    padding-top: 10px;
}

.col--center {
    width: calc((100% / 8) * 4);
    text-align: center;
}


.sinistra {
    display: flex;
    align-items: center;
    justify-content: left;
}


.col--esterno {
    width: calc((100% / 8) * 2);
    padding-left: 10px;
}

.destra {
    text-align: right;
    font-weight: 600;
    line-height: 30px;
    padding-top: 0;
}



button {
    cursor: pointer;
    color: white;
    background-color: #272727;
    font-size: 1.5em;
    border: none;
    margin-right: 15px;
}

.fa-share-from-square {
    color: green;
}

.destra button {
    color: red;
    font-size: 1em;
    background-color: gray;
    padding: 20px;
    margin: 0;
}

.under-icon, .fa-chevron-up {
    font-size: 0.5em;
}

/* 
DEBUG 
*/

.debug 

.debug 

.debug 

.debug 